@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
}

.header-bg {
	background-color: #225456;
	background-image: url("../img/header-bg.svg");
	background-attachment: fixed;
	background-size: cover;
}

@media (min-width: 640px) {
    #header {
        position:fixed;
        top:0;
        left:0;
        width: 100%;
        height: 40rem;
        transition: height 500ms, background 500ms;
        z-index: 10;
    }

    .header-logo {
        background: url("../img/logo-large.png") no-repeat center top;
        height: 200px;
        width: 140px;
        background-size: cover;
        transition: height 0.4s ease-in-out;
    }

    .header-mini .header-logo {
        background: url("../img/logo-large.png") no-repeat center top;
        height: 94px !important;
        width: 100px !important;
        background-size: cover;
        transition: height 0.4s ease-in-out;
    }
    
    .header-mini {
        height: 150px !important;
        max-height: 150px;
        transition: height 500ms ease, background 500ms;
    }
    
    .header-mini .menu {
        display: flex;
    }
}
